@charset "UTF-8";
/* CSS Document */

#me{
    cursor: pointer;
}

#second, #third, #fourth, #fifth{
    display: none;
}

#first, #fifth{
    overflow: hidden;
}


#second{
    margin: 0px 0px;
    background-color: white;
}


/*--- Elements ---*/
html, body {
    height:  100%;
    width: 100%;
    margin: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
}

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { 
    margin: 0; 
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


a,
a:visited {
    
    text-decoration: none;
}


a:hover,
a:active {
    text-decoration: none;
}

#main {
    height: 100%;
    margin: 0px auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    line-height: 50%;
}

/* ----------- Navigation ------------ */

#name{
    position: relative;
    float: left;
    height: 60px;
    /*font-size: 16pt;*/
     font-size: 1.375rem;
    line-height: 1.2;
    /*font-family: "voyager-thin";*/
    /*color: #60698A;*/
    margin: -4px 38px 0px 38px;
    color: #2646C3;
}


#bracket{
    font-family: 'Lora', serif;
}

#me{
    opacity: .4;
}


#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
    font-family: "voyager-light";
    text-decoration: none;
    z-index: 80;
    height: 60px;
    margin: 0px auto;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#othernav {
    height: 40px;
    position: relative;
    font-family: 'voyager-regular', sans-serif;
    font-size: 16pt;
    text-decoration: none;
    z-index: 2;
    margin: 0 auto;
    padding: 24px 48px;
}

circle:hover{
    cursor: crosshair;
}


.lightNav li {
    margin: 0 14px 0 0;
}
.lightNav li:last-child {
    margin-right: 0;
}

.lightNav a:link{
    color: #2646C3;
}
.lightNav a:visited,
#works.visited{
     color: #60698A;
}

.lightNav a:hover{
    color: #60698A;
}

.lightNav a:active {
    color: #60698A;
}

#navLinks {
    position: relative;
    float: right;
    margin: 0px 38px;
    padding: 0px 0px;
    width: 202px;
}

.sized {
    overflow: visible;
    position: relative;
    height: 40px;
    width: 100%;
    min-width: 680px;
    margin: 0px auto;
}

/*  --------- Fonts -----------  */


@font-face {
  font-family: 'voyager-thin';
  font-style: normal;
  font-weight: normal;
  src: local('v-thin'), url('VOYAGER-FAMILY/VOYAGER_THIN.otf') format('opentype');
}

@font-face {
  font-family: 'voyager-thin-italic';
  font-style: normal;
  font-weight: normal;
  src: local('v-tital'), url('VOYAGER-FAMILY/VOYAGER_THIN_ITALIC.otf') format('opentype');
}

@font-face {
  font-family: 'voyager-light';
  font-style: normal;
  font-weight: normal;
  src: local('v-light'), url('VOYAGER-FAMILY/VOYAGER_LIGHT.otf') format('opentype');
}

@font-face {
  font-family: 'voyager-regular';
  font-style: normal;
  font-weight: normal;
  src: local('v-reg'), url('VOYAGER-FAMILY/VOYAGER_REGULAR.otf') format('opentype');
}

@font-face {
  font-family: 'signoria-regular';
  font-style: normal;
  font-weight: normal;
  src: local('sign'), url('signoria/Signoria_Bold.ttf') format('truetype');
}

/**--------------------------------------------*/

#artwork-container{
    position: relative;
    /*width: 1000px;*/
    padding: 0px 0px;
    margin: 0px auto 0px auto;
/*    z-index: 1;*/
}

#wrapper{
    padding: 0px 48px 0px 48px;
     margin: 0px 0px 0px 0px;
    /*width: 80%;*/
}

.resize{
    
}

#left{
    width: 40%;
    height: 560px;
    display: block;
    float: left;
}

#words{
    width: 1000px;
    float: left;
    height: 80px;
    padding: 0px 6px;
    font-size: 16pt;
    line-height: 2;
    font-family: 'voyager-thin-italic';
    /*font-family: 'Lora', serif;*/
    font-style: italic;
    color: #60698A;
    /*opacity: .8;*/
}

#words:hover{
    cursor: crosshair;
}

#l-upper{
    /*min-width: 400px;*/
    height: 480px;
}

#l-lower{
    float: left;
    height: 80px;
    width: 85%;
    padding: 0px auto 0px auto;
    line-height: 4;
    font-family: 'voyager-regular';
    /*font-family: 'Lora', serif;*/
    overflow: hidden;
    display: none;
    text-align: center;
}

#l-lower p {
    text-decoration: none;
    font-size: 12pt;
    /*float: left;*/
    display: inline-block;
}

#l-lower #mixed {
   /* margin: 0px auto;*/
   float: right;
}

#l-lower #graphite{
}

#l-lower #painting {
    float: left;
}

#l-lower p:hover{
    cursor: crosshair;
}

.blueGray{
    color: #60698A;
}

.mixHover{
    color: #00BCD4;
}

.paintHover{
    color: #FFEB3B;
}

.graphHover{
    color: #FF1744;
}

/* used for span special colors */

#c{
    color: #00BCD4;
    /*rgba(0, 188, 212, 1)*/
}

#m{
    color: #FF1744;
    /*rgba(255, 23, 68, 1)*/
}

#y{
    color: #FFEB3B;
    /*rgba(255, 235, 59, 1)*/
}

#k{
    color: #60698A;
}

/* right side of art container */

#right{
    width: 40%;
    height: 542px;
    display: none;
    float: right;
    padding: 18px 0px 0px 0px;
    position: relative;
}


.centered {
    /*position: fixed;*/
    top: 50%;
    left: 50%;            
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%); 
    position: absolute;
    font-family: 'Lora', serif;
    color: rgba(96,105,138, 0.8);
    line-height: 1.4;
    width: 80%;
    display: none;
}

.centered h5{
    font-size: 24pt;
    margin: 0px 0px;
    padding: 0px 0px 4px 0px;
    font-family: "voyager-thin";
    width: 160px;
    /* some experimenting with gradient image border */
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    -webkit-border-image:-webkit-linear-gradient(90deg, rgb(0, 188, 212) 0%, rgb(255, 23, 68) 80%, rgb(255, 235, 59) 100%);
    -o-border-image:-o-linear-gradient(90deg, rgb(0, 188, 212) 0%, rgb(255, 23, 68) 80%, rgb(255, 235, 59) 100%);
    -moz-border-image:-moz-linear-gradient(90deg, rgb(0, 188, 212) 0%, rgb(255, 23, 68) 80%, rgb(255, 235, 59) 100%);
    border-image: linear-gradient(90deg, rgb(0, 188, 212) 0%, rgb(255, 23, 68) 80%, rgb(255, 235, 59) 100%);
    border-image-slice: 50;
}

/*show love love*/

#second .centered{
    text-align: right;
}

#second .centered p{
   display: block;
   float: right;
}

#second .centered h5{
    float: right;
    display: block;
    position: relative;
    width: 207px;
}

/**/

.centered p{
    /*margin: 0px 0px;*/
    font-size: 12pt;
    font-style: italic;
}

#right h1{
  font-size: 14pt;
  font-family: "voyager-light";
  padding: 0px 0px;
}

#right h2{
  font-size: 11pt;
  font-family: "voyager-thin-italic";
  opacity: .8;
  padding: 0px 0px;
}

#preview{ 
    position: relative; 
    padding: 0px 0px;
    margin: 0px 0px;
    display: none;
    color: #60698A;
    font-size: 12pt;
    font-family: "voyager-thin";
    line-height: 12pt;
}

#preview img{
    width: 100%;
    margin: 0px auto;
}


/* Special Projects Section Styling*/

h4{
    padding: 0px 0px;
    margin: 0px auto;
}

#groundbreaking{
    padding-bottom: 40px;
}

.quick_title{
    color: #FFEB3B;
    font-weight: 800;
    font-family: 'voyager-regular';
}

.quick{
    color: #FF1744;
    font-weight: 400;
    font-family: 'voyager-regular';
}

.proj_des p{
    text-align: left;
}

.proj_des a{
    color: #414A59;

}

.older{
    color: #BDBDBD;
}

section{
    width: 100%;
    height: 100vh;
    /*overflow: visible;*/
    min-height: 650px;
    /*min-width: 1000px;*/
}

#uxui{
    font-family: 'voyager-light', sans-serif;
    margin: 0px auto;
    overflow: hidden;
}

.special-projects{
    margin: auto;
    width: 90%;
    padding: 20px 0px;
    display: block;
    overflow: hidden;
}

.special-projects img{
    width: 100%;
    border: 1px solid gray;
    padding: 0px 0px;
    text-align: center;
}

.proj_des{
    width: 400px;
    height: 143px;
    padding: 0px 0px;
    margin: 0px 0px;
    float: right;
    display: inline-block;
    font-size: 140%;
    line-height: 90%;
}

.medium, .light{
    color: #888B8C;
}

.subpage{
    font-size: 26pt;
    color: #888B8C;
    margin: 0px auto;
    padding: 0px;
/*    width: 900px;*/
    text-align: center;
}

.soft{
    font-width: 200%;
    color: #888B8C;
    font-family: 'voyager-thin', sans-serif;
}

.slide{
    /*padding-top: 12px;*/
    width: 920px;
    display: block;
    margin: auto;
    text-align: center;
}

.slide img{
    position: relative;
    text-align: center;
    float: center;
}

.desLeft{
    color: #555;
    font-family: 'voyager-light', sans-serif;
    width: 55%;
    float: left;
    display: inline-block;
    padding: 0px;
}

.compare{
    width: 50%;
    position: relative;
    padding-bottom: 32px;
}

.compare img{
    position: relative;
    text-align: center;
    float: center;
}

#all-webs{
    margin: auto;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 10px 60px;
}

#demo{
    margin: auto;
    text-align: center;
    display: block;
    padding: 10px;

}

.desRight{
    position: relative;
    font-family: 'voyager-thin', sans-serif;
    width: 35%;
    display: inline-block;
    float right;
    margin-left: 60px;
    color: #555;
}

.switched{
    font-family: 'voyager-light', sans-serif;
    width: 35%;
    display: inline-block;
    float right;
    margin-left: 60px;
    color: #555;
    position: relative;
}

.bottom{
    font-family: 'voyager-light', sans-serif;
    color: #555;
    display: block;
    text-align: left;
}

.full-des a{
    color: #29B4F0;
}

.full-des{
    height: 100%;
    width: 1035px;
    margin: 10px auto;
    font-size: 14pt;
}

.line{ 
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: #F0BE29;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#F0BE29), to(#fff));
    margin: 24px 0px 24px 0px;
}

.blue{
    color: #29B4F0;
}

.bold{
    color: #000;
}

#help{
    color: #F0BE29;
    font-size: 16pt;
    font-family: 'Belleza', sans-serif;
}

.upcoming{
    /*height: 120px;*/
    margin: 110px auto 80px auto;
    width: 100%;
    /*position: fixed;*/
   /* top: 50%;
    left: 50%; */           
 
    text-align: center;
    display: block;
    /*margin: 0px auto;*/
}

.upcoming p{
    color: rgba(96,105,138, 0.4);
    font-size: 2em;
    font-family: 'Lora', serif;
    font-style: italic;
}


/* -------- hci section ----------*/

#golden-container{
    margin: 88px auto 0px auto;
    width: 100%;
    opacity: 0;
}

.golden-wrapper{
}

.placeholder{
    display: none;
}

.hci1:before{
    background: rgba(0, 188, 212, .2);
} 

.hci2:before{
    background: rgba(255, 235, 59, .2);
} 

.hci3:before{
    background: rgba(255, 23, 68, .2);
} 

.hci4:before{
    background: rgba(255, 23, 68, .2);
} 

.hci5:before{
    background: rgba(0, 188, 212, .2);
} 

.hci6:before{
    background: rgba(255, 235, 59, .2);
} 

.hci7:before{
    background: rgba(255, 23, 68, .2);
} 

.hci-project:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: rgba(96,105,138, 0.15);*/
    /*background: rgba(38,70,195,.5);*/
        /*background: rgba(96,105,138, 0.15);*/
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    /*  transition: all 0.2s cubic-bezier(.25,.8,.25,1);*/
  }
  
.hci-project:hover:before {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 3px rgba(96,105,138, 0.12), 0 1px 2px rgba(96,105,138, 0.24);
  
}

.hci-project{
    border-radius: 2px;
}

.addBorder{
     box-shadow: 0 1px 3px rgba(96,105,138, 0.12), 0 1px 2px rgba(96,105,138, 0.24);
}

.hci-project:hover{
    cursor: crosshair;
}


.overview-project {
    padding: 0;
    margin: 0;
}

.overview-project img {
    display: block;
    max-width: 100%;
    height: auto;
}

#none{
    display: hidden;
}


.caption{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 0.75em 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(96,105,138, 0.8);
    /*background:  rgba(38,70,195, 0.65);*/
    /*background: rgba(255,255,255, 0.65);*/
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.overview-project:hover .caption {
    opacity: 1;
}

.special-border{
    -webkit-box-shadow: inset 0px 0px 1px 1px #60698A;
    -moz-box-shadow: inset 0px 0px 1px 1px #60698A;
    box-shadow: inset 0px 0px 1px 1px #60698A;
}

.left-golden{
    display: inline-block;
    position: relative;
    float: left;
}

.right-golden{
    display: inline-block;
    float: right;
    position: relative;
}

.upper-golden{
    top: 0px;
    display: inline-block;
    position: absolute;
}

.lower-golden{
    bottom: 0px;
    display: inline-block;
    position: absolute;
}


.hover{
    position: absolute;
    display: none;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: (255,255,255, .5);*/
    width: 100%;
    z-index: 3;
    line-height: 1.4;
}

.hover h3{
    color: rgba(255,255,255, 1);
    /*color:rgba(96,105,138, 1);;*/
    font-family: "voyager-light", sans-serif;
    font-size: 3em;
    line-height: 40px;
    margin: 0px auto;
}

.hover p{
    font-size: 1.5em;
    font-family: 'Lora', serif;
    color: rgba(255,255,255, 1);
    font-weight: 400;
    font-style: italic;
    line-height: 40px;
}

.tags{
    font-family: "voyager-light", sans-serif;
    font-size: 1em;
    margin-top: 25px;
}

.tags span{
    color: white;
    /*opacity: 1;*/
    border: 2px solid rgba(96,105,138, 1);
    /*background-color:rgba(96,105,138, 1);*/
    padding: 4px 8px;
    margin: 0px 4px;
}

/*------------------------------------------*/

/*------------Contact/About-----------------*/

.landing-name{
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
    line-height: 3.25rem;
    margin-left: -13px;
    z-index: 2;
}

h6{
    font-family: 'voyager-regular', sans-serif;
    letter-spacing: .012em;
    margin-bottom: .75rem;
    font-size: 1.2rem;
    margin: 0;
    position: fixed;
    top: 40px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.landing-image--portrait{
    background: url(../bio4.jpg) no-repeat 50%;
    background-size: cover;
    -webkit-animation: f 1s ease forwards;
    animation: f 1s ease forwards;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.landing-image--me {
    background: url(../bio7.jpg) no-repeat 50%;
    background-size: cover;
}

.landing-image-half {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /*z-index: -1;*/
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.isShown{
    opacity: 1;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width: 40.0625em){
    .landing-text-half {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        height: 100%;
    }
}

.landing-text-half {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 40.0625em){
    .landing-text {
        -webkit-animation: h .3s ease-in-out forwards;
        animation: h .3s ease-in-out forwards;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        position: relative;

    }
}

.landing-text {
    margin-top: 6rem;
    text-align: center;
    padding: 1.5rem 1.5rem;
}

.landing-label {
    height: 140px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    font-family: 'voyager-thin', 'voyager-light';
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.label-portrait{
   -webkit-animation: f 1s ease forwards;
    animation: f 1s ease forwards;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    display: block;
}

.label-me{
    display: none;
}

.label{
    margin: 0;
}

.underline{
    text-align: center;
    color: rgba(96,105,138, 0.8);
}

.underline h5{
    font-size: 2rem;
    margin: 1.5rem auto;
    padding: 0 0 .5rem 0;
    font-family: "voyager-thin";
    width: 160px;
}

.seek{
    font-size: 1.45rem;
    margin: 1.5rem 0;
    padding: 0 0 0 0;
    font-family: "voyager-thin";
    text-align: center;
    color: rgba(96,105,138, 0.8);
}



a.link--prominent {
    position: relative;
    color: rgba(38, 70, 195, .6);
    text-decoration: none;
}

a.link--prominent:hover{
  color: rgba(96,105,138, 0.8);
}


a.link--prominent:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(38, 70, 195, .6);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.link--prominent:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#japanese{
    font-style: italic;
}

a.social{
    font-family: "voyager-thin";
    padding: 0 1rem;
    letter-spacing: .012em;
    margin-bottom: .75rem;
    font-size: 1rem;
}

.email{
     font-family: "voyager-thin";
}

.site-about{
    margin: 6rem auto 0 auto;
    font-family: 'voyager-thin-italic';
}

.site-about a{
    color: rgba(38, 70, 195, .6);
}


/* ETC. Section */


.normal{
    font-family: "voyager-thin";
    color: #60698A;
}

#fourth{
    /*padding-top: 60px;*/
    font-size: 10px;

}

.square {
    display: inline-block;
    position: relative;
    width: 19%;
    padding-bottom : 19%; /* = width for a 1:1 aspect ratio */
    margin: .5% auto;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    min-width: 279px;
    min-height: 279px;
}

.tealy{
  background-color: rgba(0, 188, 212, .2);
}

.magenty{
    background-color: rgba(255, 23, 68, .12);
}

.yelly{
    background-color: rgba(255, 235, 59, .18);
}

.by{
    border: 1px solid rgba(255, 235, 59, 1);
}

.bm{
    border: 1px solid rgba(255, 23, 68, 1);
}

.bt{
    border: 1px solid rgba(0, 188, 212, 1);
}



/* WABI SABI*/

.sabiContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
    position: relative;
    min-width: 300px;
    padding: 0px 48px;
    margin: .5% 0px;
}

.wabiDes{
    width: 95%;
    height: 155px;
    display: block;
    margin: 80px auto 0px auto;
}


.sabi{
    display: inline-block;
    float: left;
    width: 39%;
    margin: .5% 0px .5% auto;
    min-width: 279px;
    min-height: 279px;
    /*text-align: center;*/
    padding: 0px 0px;
    margin: 0px 0px;
    /*border: 3px solid rgba(255, 235, 59, 1);*/
}

.wabiSpecialStyle{
    /*color: rgba(255, 235, 59, 1);*/
    /*color: rgba(0, 188, 212, .7);*/
    /*color: rgba(255, 23, 68, .5);*/
    color: rgba(96,105,138, 1);
     /*color: #2646C3;*/
    font-size: 44px;
    font-family: "voyager-regular";
    margin: 0px 0px;

    /*padding-top: 15px;*/
}


.sabiTitle{
/*    color: #2646C3;*/
    font-size: 2.5em;
    font-family: 'voyager-light', 'Lora', serif;
    color: rgba(96,105,138, 1);
    /*font-style: italic;*/
    font-weight: 400;
    padding-top: 24px;
    /*font-variant: lowercase;*/
}



.classy{
    font-family: 'voyager-thin-italic';
}


/* Artist Chair */

.chairContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 80%;*/
    margin:0px auto;
    position: relative;
    min-width: 300px;
    padding-bottom: 80px;
}

/* Greeting Card */

.rect {
    /*float: left;*/
    position: relative;
    display:inline-block;
    width: 100%;
    margin: 0px auto;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    min-width: 279px;
    min-height: 279px;
    /*border: 1px solid rgba(96,105,138, .5);*/
}

.extra{
    white-space: nowrap;
    overflow: hidden;
}

.rect:before{
    content: "";
    display: block;
    padding-top: 50%;

}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto 0px auto;
    position: relative;
    min-width: 300px;
}

.cardDes{
    width: 95%;
    height: 80px;
    display: block;
    margin: 0px auto;
    position: fixed;

}

.card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 4% 4%;
    text-align: left;
}

.allCard{
    width: 100%;
    padding: 32px auto;
}

.grayB{
    border-right: 12px solid rgba(96,105,138, .8);
}

.whiteB{
    border-right: 12px solid white;
}

.yellowB{
    border-right: 12px solid rgba(255, 235, 59, 1);
}

.magentaB{
    border-right: 12px solid rgba(255, 23, 68, 1);
}

.tealB{
    border-right: 12px solid rgba(0, 188, 212, 1);
}

.clearbg{
    background-color: rgba(255,255,255, 0);
}


.detailer {
    position: absolute;
    top: 0;
    left: 100%;
    height:100%;
}

/*.detailer img, .schematic img{
    max-height: 100%;
}*/

.card h3{
    font-family: "voyager-light", sans-serif;
    font-size: 2em;
    color: rgba(96,105,138, 1);
    margin: 0px auto 2pt auto;
    line-height: 1.5em;
    white-space:normal;
    word-wrap: break-word;
}

.cardTop{
    position: relative;
    text-align: left;
    width: 90%;
    margin: 0px auto 16px auto;
    /*padding-bottom: 80px;*/
    min-width: 300px;
}

.card p{
    position: relative;
    width: inherit;
    max-width: 100%;
    display: block;
    white-space: normal;
    word-wrap: break-word;
}

.cardDetail{
    font-size: 11pt;
    font-family: "voyager-light", sans-serif;
    color: rgba(96,105,138, 1);
    margin: 0 0;
}



/*.bottle{background-image:url(../cards/leafbottleSketch.png);}*/
.img_1-1{background-image:url(../cards/heartLayout.svg);}
.img_1-3{background-image:url(../cards/heartFinal.gif);}

.img_2-1{background-image:url(../cards/rosetteLayout.svg);}
.img_2-3{background-image:url(../cards/rosetteFinal.svg);}

.img_3-1{background-image:url(../cards/terrainLayout.svg);}
.img_3-3{background-image:url(../cards/terrainFinal.svg);}

.img_4-1{background-image:url(../cards/walletLayout.svg);}
.img_4-3{background-image:url(../cards/walletFinal.svg);}


/************* SET DESIGN PAGE ******************/

.slider {
    /* set initial width */
    z-index: 2;
    width: 55%;
    /*height: 500px;*/
           
    /* hide the content that overflows (to allow second box to show through) */
    overflow: hidden;
    display: inline-block;
           
    /* skew container so that it has angled edge, and set up transition */
    transform: skewX(-22deg);
    transition: width 1.2s ease-in-out;
          
    /* give negative margin to remove gap caused by left hand skew */
    margin-left: -76px;
    /*border-right: 10px solid rgba(255, 23, 68, 1);*/
           
    /* hide pointer events for unseen content */
    pointer-events: none;
}
        
/* set the size of the boxes and any decoration */
.box { 
    width: 90%;
    height: 500px;
}

.sunset{
    width: 180%;
}

.sunrise{
    width: 95%;
}
        
/* make the links the size of the full boxes (not needed for technique) */
/*.box a { 
    display: block; 
    width: 100%; 
    height: 100%;
}*/
        
.sunset {
    /*border: 1px solid red;*/
    /* skew back by negative of parent’s skew so contents is upright */
    transform: skewX(22deg);
    background-color: white;
    /*z-index: 2;*/
       /*       background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;*/
    /*background: url(https://images.pexels.com/photos/198310/pexels-photo-198310.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat;*/
    margin-left: 76px; /* give margin to push content away from left slanted edge */
    pointer-events: auto;   /* allow pointer events for the box */
    padding: 20px;
}
        
.sunrise {
 /*   background-position:center right;
    background-repeat:no-repeat;
    background-size: contain;
    background-image:  url(../fave2.jpg););*/
    position: absolute;     /* remove from flow so sunset is placed on top */
    /*border: 1px solid rgba(0, 0, 0, .7);*/
    box-shadow: 0 0 2px rgba(0, 0, 0, .7);

    overflow: hidden;
}

.wrapper{
    padding-left:22px;
    width: 100%;
    height: 100%;
        /*overflow: hidden;*/
}

.sunrise img{
    display: inline-block;
    position: relative;
    /*object-fit: contain;*/
    max-height: 100%;
    float: right;
    margin: auto;
    padding-left: 2px;
}

.sunset img{
    display: inline-block;
    /*float: left;*/
    position: relative;
    max-height: 95%;
    margin: 0 auto;
}
        
/* make first box bigger on hover, and smaller when hover second box */
.slider:hover {
    width: 91%;
}

.woods .slider:hover{
    width: 95%;
}
 
 /** controls how much of right is seen */       
.sunrise:hover + .slider { 
     width: 16%;
}
    

.showContain{
    margin: 0px auto 30px auto;
    width: 95%;
    height: 500px;
}

.showName{
    margin: 0px 0px;
    color: rgba(96,105,138, 1);
    /*color: #2646C3;*/
    font-size: 2.2em;
    font-family: "voyager-regular";
    width: 500px;
}

.det{
    color: rgba(96,105,138, 1);
    font-size: .8em;
    width: 600px;
    float: left;
    font-family: 'voyager-light','Lora', serif;
    /*line-height: 1em;*/
    padding: 0px;
    margin: 0px 0px;
}

.pad{
    padding-bottom: 5px;
    opacity: .8;
}

.showDes{
    font-family: 'voyager-light','Lora', serif;
    /*font-style: italic;*/
    color: rgba(96,105,138, 1);
    /*font-weight: 400;*/
    font-size: 1.2em;
    line-height: 1.2em;
    width: 600px;
    float: left;
}

.showDesLeft{
    width: 600px;
    height: 100%;
    float: left;
    display: block;
    margin: 0px 0px;
}

.sideSketch{
    width: 400px;
    height: 460px;
    display: inline-block;
    margin: 0px 0px 0px 124px;
    /*float: left;*/
}

.sketchDes{
    font-family: 'voyager-light','Lora', serif;
    /*font-style: italic;*/
    color: rgba(96,105,138, 1);
    font-size: 1.2em;
    padding: 0px 0px;
    /*margin-top: 10px;*/
    margin-bottom: auto;
    display: block;
}

/* ETC SECTION */


/* STUDIO DES*/

.studioContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 80%;*/
    margin: 0 auto;
    position: relative;
    min-width: 300px;
    padding-bottom: 120px;
}

.studioDes{
    position: fixed;
    z-index: 20;
    top: 25px;
    left: 48%;
    width: 50%;
    height: 80px;
    display: block;
    /*margin: 0px auto 0px auto;*/
}

.studio{
    position: relative;
    display: inline-block;
    /*flex: 0 0 50%;*/
    width: 50%;
    height: 100%;
    float: left;
    /*background-image:url(../cards/MET.png);*/
    min-width: 320px;
    min-height: 320px;
    margin: 0px auto 0px 0px;
    text-align: left;
}

.studioDetail{
    display: inline-block;
    position: relative;
    width: 40%;
    /*flex: 1;*/
    height: 100%;
    min-width: 320px;
    float: right;
    margin: 0px 0px 0px auto;
    background-color: white;
    padding: 16px 16px 16px 16px;
}


/************* NEW ETCETERA SECTION ***************/

/* ETC MENU */

#etcMenu li {
    font-family: 'voyager-thin', 'Lora', sans-serif;
    font-size: 1.2vw;
    display:inline-block;
    margin: 8px;
    /*color: rgba(96,105,138, 1);*/
    color: #000;
    /*background:#fff;*/
    border: none;
}

#etcMenu li.active{
     color: red;
}
#etcMenu li a{
    color: rgba(96,105,138, 1);
    outline: none;
     /*font-color: #2646C3;*/
}
#etcMenu a:hover{
    color: #2646C3;
}
#etcMenu li.active a:hover{
    color: #2646C3;
}
#etcMenu li:hover{
    /*font-color: rgba(96,105,138, 1);*/
    color: yellow;
}
#etcMenu li a,
#etcMenu li.active a{
    text-decoration:none;
    padding: 11px 12px;
    display: block;
}
#etcMenu{
    position: relative;
    height: 58px;
    width: 100%;
    padding: 10px;
    margin: 0px auto 0px auto;
    text-align: center;
}

.menuWrap{
    display: block;
    width: 100%;
    height: 120px;
    z-index: 60;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 60px;

}

@media (min-width: 1200px) {
    .menuWrap {
        padding-top: 0px;
        display: block;
        width: 61%;
        /*height: 80px;*/
        z-index: 80;
        position: absolute;
        top: 14px;
        left: 18.3%;
    } 
}

/* Studio Section Specific */

.specialStyle{
    /*color: rgba(255, 235, 59, 1);*/
    /*color: rgba(0, 188, 212, .7);*/
    /*color: rgba(255, 23, 68, .5);*/
    color: rgba(96,105,138, 1);
     /*color: #2646C3;*/
    font-size: 44px;
    font-family: "voyager-regular";
    /*text-align: center;*/
    margin: 0px auto 0px auto;
}

.special{
    text-align: center;
    color: rgba(96,105,138, 0.6);
    line-height: 1.3em;
    font-size: 18px;
    font-family: 'Lora', serif;
    font-style: italic;
    margin: 0px auto;
    padding: 40px;
    white-space:normal;
    word-wrap: break-word;
}

.stud-special{
    color: rgba(96,105,138, 0.6);
    line-height: 1em;
    font-size: 18px;
    font-family: 'Lora', serif;
    font-style: italic;
    margin: 8px auto;
    white-space:normal;
    word-wrap: break-word;
}

.studioTitle{
    margin-top: 8px;
    font-size: 24px;
    font-family: 'voyager-light', 'Lora', serif;
    color: rgba(96,105,138, 1);
    /*font-style: italic;*/
    font-weight: 400;
    padding-top: 24px;
    /*font-variant: lowercase;*/
}

.table{
    background-image: url(../cards/MET.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

.bench{
    background-image: url(../cards/allBenches.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

/* Chair Section */

.chair{
    background-image: url(../cards/chair.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

/********************* GENERAL ETC STYLE **************************/

#rosetteCard, #terrainCard, #walletCard, #metBenchCard, #chairCard, #oxymoronCard{
    display: none;
}

.qtd{
    font-size: 25px;

}

.sabiSpecial{
     font-family: 'voyager-light','Lora', serif;
    /*font-style: italic;*/
    color: rgba(96,105,138, .8);
    /*font-weight: 400;*/
    /*font-size: 16px;*/
    font-size: 2.2vh;
    line-height: 1.4em;
    margin-top: 8px;
}

@media (min-width: 768px) {
    .sabiSpecial{
        font-family: 'voyager-light','Lora', serif;
        /*font-style: italic;*/
        color: rgba(96,105,138, .8);
        /*font-weight: 400;*/
        /*font-size: 16px;*/
        font-size: 1.2vw;
        line-height: 1.4em;
        margin-top: 8px;
    }
}

.topper:first-line{
    font-variant: small-caps;
    letter-spacing: 2px;
}

.specs{
    font-size: 11pt;
    font-family: 'Lora', serif;
    color: rgba(96,105,138, .8);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1pt;
    /*line-height: 7pt;*/
}

.etcetera {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px;
  /*background-color: #1560FB; */
}

@media (min-width: 768px) {
    .etcetera {
      float: left;
      position: absolute;
      margin-left: 0;
      margin-top: 0;
      height: 100%;
      width: 50%; 
    } 
}

.etcetera-text {
    display: inline-block;
    padding: 20px;
    /*min-height: 490px;*/
}

@media (min-width: 768px) {
    .etcetera-text {
      float: right;
      position: absolute;
      padding: 132px 56px 20px 20px;
      top: 0;
      right: 0;
      height: 100%;
      width: 48%;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden; 
    } 
}


#pennyStudio{
    margin-top: 122px;
}

@media (min-width: 768px) {
    #pennyStudio{
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .etWrapper{
        z-index: 2;
        /*width: 100%;*/
        height: 100%;
        position: relative;
        display: block;
        margin-top: 0px;
    }
}

.greetWrap{
    height: auto;
    position: relative;
    min-height: 1240px;
}

@media (min-width: 768px) {
    .greetWrap{
        height: 100%;
        z-index: 2;
        position: relative;
        display: block;
        margin-top: 0px;
        min-height: 720px;
    }
}

.abc{
    /*clear:both;*/
    display: block;
    width: 100%;
    /*background-color: rgba(38, 70, 195, 1);*/
    /*background-color: white;*/
    /*background-color: rgba(96,105,138, .4);*/
}

#fourth{
    overflow: visible;
}

/** Reversed Etcetera **/

.etcAlt-text {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px;
  /*background-color: #fff; */
  background-color: rgba(38, 70, 195, .05);
  padding: 20px;
}

@media (min-width: 768px) {
    .etcAlt-text {
      float: left;
      position: absolute;
      margin-left: 0;
      margin-top: 0;
      height: 100%;
      width: 50%; 

      padding: 132px 40px 40px 40px;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden; 
    } 
}


.etcAlt {
    display: inline-block;
    min-height: 420px;
    width: 100%;
}

@media (min-width: 768px) {
    .etcAlt {
      float: right;
      position: absolute;
      min-height: 720px;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
    } 
}

/* Wabi Specific */

.wabi{
    margin: 15% auto 0px auto;
    position: relative;
    display: inline-block;
    width: 100%;
    /*margin: 0px 0px 0px auto;*/
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    min-width: 279px;
    min-height: 279px;
    background-image: url(../cards/leafbottleSketch.png);
    transition: background-image .6s ease-in-out;
    
}


.wabi:before{
    content: "";
    padding-top: 80%;
    display: block;
}

.wabi:hover{
    background-image: url(../cards/wabiSabiBarTable.png);
}

/* Greeting Card Section */

.greet {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 420px; /*Might need to adjust if I add text here*/
  /*background-color: #1560FB; */
}

@media (min-width: 768px) {
    .greet {
      float: left;
      margin: 0px auto;
     /* position: absolute;
      margin-left: 0;
      margin-top: 0;*/
      min-height: 720px; 
      height: 100%;
      width: 33%; 
      overflow: hidden;
    } 
}

.allSchema{
    width:100%;
    display: inline-block;
    height: 30%;
    background-color: blue;
    position: relative;
}

.card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    padding: 20px 20px;
}

.greetDes{
    position: relative;
    min-height: 400px;
    width: 100%;
    padding: 20px;
}

@media (min-width: 768px) {
    .greetDes{
        overflow: hidden;
        display: inline-block;
        padding: 80px 20px;
        width: 100%;
        height: 63%;
    }
}


.wGreet {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 600px;
  /*background-color: #1560FB; */
}

@media (min-width: 768px) {
    .wGreet {
      float: left;
      margin: 0px auto;
     /* position: absolute;
      margin-left: 0;
      margin-top: 0;*/
      height: 100%;
      min-height: 720px;
      width: 34%; 
      overflow: hidden;
    } 
}

.newSquare{
    display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom : 70%; /* = width for a 1:1 aspect ratio */
        margin: .5% auto;
        background-position:center center;
        background-repeat:no-repeat;
        background-size: contain; /* you change this to "contain" if you don't want the images to be cropped */
        min-width: 279px;
        min-height: 279px;
}

@media (min-width: 768px) {
    .newSquare {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
        margin: .5% auto;
        background-position:center center;
        background-repeat:no-repeat;
        background-size: contain; /* you change this to "contain" if you don't want the images to be cropped */
        min-width: 279px;
        min-height: 279px;
    }
}

.cent{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
}

.dotCent{
    position: absolute;
    float: right;
    top: 264px;
    left: 94%;
    transform: translate(-38%, -94%);
    -webkit-transform: translate(-38%, -94%);
    -moz-transform: translate(-38%, -94%);
    -ms-transform: translate(-38%, -94%); 
    -o-transform: translate(-38%, -94%); 
    z-index: 50;
}

@media (min-width: 768px) {
    .dotCent{
        position: absolute;
        top: 58%;
        left: 98%;
        transform: translate(-58%, -97%);
        -webkit-transform: translate(-58%, -97%);
        -moz-transform: translate(-58%, -97%);
        -ms-transform: translate(-58%, -97%); 
        -o-transform: translate(-58%, -97%); 
        z-index: 50;
    }
}

.lighter{
    background-color: rgba(96,105,138, 0.4);
}

.newRect {
    /*float: left;*/
    position: relative;
    display:inline-block;
    width: 100%;
    margin: 0px auto;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    min-width: 279px;
    /*border: 1px solid rgba(96,105,138, .5);*/
}

.rTop{
    height: 49%;
    min-height: 380px;
}

.rBottom{
    height: 51%;
    min-height: 400px;
}

.extra{
    white-space: nowrap;
    overflow: hidden;
}

.newRect:before{
    content: "";
    display: block;
    padding-top: 50%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

}

.newRect::-webkit-scrollbar,
{
    display: none;
}


.schematic {
    position: absolute;
    top: 0;
    left: 100%;
    /*left: 0;*/
    height:100%;
}

.detailer img, .schematic img{
    max-height: 100%;
}

.lColor p{
    color: white;
}

.lColor{
    background-color: rgba(96,105,138, .8);
}


.oxy{
    background-image: url(../cards/oxyMoron3.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

.logo{
    background-image: url(../cards/logoSBG.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    background-color: white;
}

.addBG{
    background-color: rgba(96,105,138, .6);
}

.white p, .white h3{
    color: white;
    font-weight: 400;
}
