/* NOTE; specs for #wn in head of demo too */
div#wn	{ 
    position:relative; /* scroll area div must be positioned */
    width:100%; 
    height:256px; /* width and height required. adjust to suit  */
    overflow: hidden; /* required! */
	}

/* styles to display list items horizontally */
ul#horiz {
    list-style:none; margin:0; padding:0;
    white-space:nowrap;
    }
ul#horiz li {
    display:inline;
    white-space:nowrap;
    }

ul.horiz {
    list-style:none; margin:0; padding:0;
    white-space:nowrap;
    }
ul.horiz li {
    display:inline;
    white-space:nowrap;
    }
    

/* safari, chrome, opera have very prominent outline by default 
   opera shows outline movement with scrolling and won't allow none
   set to suit your page design
*/
div#wn:focus {
    outline:1px dotted #eee;
    }    

div#heart:focus {
outline:1px dotted #eee;
}    