@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

body{
	background-color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 1);
}

#whatIf{
	position: fixed;
	top: 1em;
	left: 1em;
	float: left;
	width: 200px;
}

h1{
	font-family: 'Lora', serif;
	font-weight: 700;
}


h2{
	font-family: 'Lora', serif;
	font-weight: 400;
	font-style: italic;
}


#container{
	display: block;
	width: 642px;
	height: 700px;
	position: relative;
	margin: 1em auto;
	overflow: hidden;
	display: hidden;
}

/* ------- Styling for whole hexagons of 6 cubes ----------*/
.hex{
	width: 290px;
	height: 330px;
	position: absolute;
	display: block;
}

.one{
	top: 83px;
	left: 70px;
}

.two{
	top: 368px;
	left: 0px;
}

.three{
	top: 287px;
	left: 282px;
}

.four{
	top: 1px;
	left: 352px;
}

/*---------  Styling for each cube ----------*/

.stage {
    width: 180px;
    height: 170px;
    position: absolute;
  	-webkit-perspective-origin: 50% 100px;
  	-moz-perspective-origin: 50% 100px;
    -webkit-transform-origin: center center;

}

.upper{
	-webkit-transition: -webkit-transform .8s eease-in-out;
	-moz-transition: -moz-transform .8s ease-in-out;
	-o-transition: -o-transform .8s ease-in-out;
	-ms-transition: -ms-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

.first{
	top: 0px;
	left: 55px;
}

.second{
	top: 122px;
	left: 126px;
}

.third{
	top: 122px;
	left: -15px;
}

.fourth{
	top: 40px;
	left: -15px;
}

.fifth{
	top: 40px;
	left: 126px;
}

.sixth{
	top: 163px;
	left: 56px;
}

.cube{
   	position: relative;
   	margin: 15px auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease-in;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(35deg) rotateY(45deg);
    transform: rotateX(35deg) rotateY(45deg);



}



.upper .cube:hover {

   transform: rotateX(145deg) rotateY(45deg) translateY(38px);
}

.lower .cube{

	transform: rotateX(145deg) rotateY(45deg) translateY(38px);
} 

.lower .cube:hover{

	transform: rotateX(35deg) rotateY(45deg) translateY(0px);
} 

.hex:hover{
 	z-index: 2;
}

/*--------- Styling for each face contained in cubes -----------*/

figure {
   display: block;
   position: absolute;
   width: 100px;
   height: 100px;

}

/* Define each face based on direction */
.one .upper .front{
	background: rgba(255,235,238 ,1);
}

.one .upper .back{
	background: rgba(255,205,210 ,1);
}

.one .upper .right{
 	background: rgba(239,154,154 ,1);
}

.one .upper .left{
	background: rgba(244,67,54 ,1);
}

.one .upper .bottom{
 	background-color: rgba(211,47,47 ,1);
}

.one .upper .top{
 	background: rgba(183,28,28 ,1);
}

/* Each face transform and starting base color */

.front {
   background: rgba(207,216,220 ,1);
   transform: translateZ(50px);
   -webkit-transform: translateZ(50px);
}
.back {
   background: rgba(176,190,197 ,1);
   transform: rotateY(180deg) translateZ(50px);
   -webkit-transform: rotateY(180deg) translateZ(50px);
}
.right {
   background: rgba(144,164,174 ,1);
   transform: rotateY(90deg) translateZ(50px);
   -webkit-transform: rotateY(90deg) translateZ(50px);
}
.left {
   background: rgba(96,125,139 ,1);
   transform: rotateY(-90deg) translateZ(50px);
   -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.top {
   background: rgba(69,90,100 ,1);
   transform: rotateX(90deg) translateZ(50px);
   -webkit-transform: rotateX(90deg) translateZ(50px)
}
.bottom {
   background: rgba(38,50,56 ,1);
   transform: rotateX(-90deg) translateZ(50px);
   -webkit-transform: rotateX(-90deg) translateZ(50px);
}

/* ---------- FANCY RGBA THEME COLORS */

/* Red Hexagon Theme */
.one .upper .front{
	 background: rgba(248,187,208 ,1);
}

.one .upper .back{
	background: rgba(244,143,177 ,1);
}

.one .upper .right{
 background: rgba(236,64,122 ,1);
}

.one .upper .left{
	background: rgba(216,27,96 ,1);
}

.one .upper .bottom{
 background: rgba(194,24,91 ,1);
}

.one .upper .top{
	background: rgba(136,14,79 ,1);
}

/* Green Hexagon Theme */
.two .upper .front{
	background: rgba(220,237,200 ,1);
}

.two .upper .back{
	background: rgba(197,225,165 ,1);
}

.two .upper .right{
 background: rgba(174,213,129 ,1);
}

.two .upper .left{
	background: rgba(139,195,74 ,1);
}

.two .upper .bottom{
	background: rgba(104,159,56 ,1);
}

.two .upper .top{
	background: rgba(51,105,30 ,1);
}

/* Blue Hexagon Theme */
.three .upper .front{
	background: rgba(179,229,252 ,1);
}

.three .upper .back{
	background: rgba(129,212,250 ,1);
}

.three .upper .right{
	background: rgba(79,195,247 ,1);
}

.three .upper .left{
	background: rgba(3,169,244 ,1);
}

.three .upper .bottom{
	background: rgba(2,136,209 ,1);
}

.three .upper .top{
	background: rgba(1,87,155 ,1);
}

/* Amber Hexagon Theme (pigment primary at least!) */

.four .upper .front{
	background: rgba(255,236,179 ,1);
}

.four .upper .back{
	background: rgba(255,224,130 ,1);
}

.four .upper .right{
	background: rgba(255,213,79 ,1);
}

.four .upper .left{
	background: rgba(255,193,7 ,1);
}

.four .upper .bottom{
	background: rgba(255,160,0 ,1);
}

.four .upper .top{
	background: rgba(255,111,0 ,1);
}

